region="<YOUR HOME REGION  (e.g. us-ashburn-1)>"
tenancy_ocid="<YOUR OCI TEANCY OCID>"
user_ocid="<YOUR OCI USER OCID>"
fingerprint="<YOUR KEY FINGER PRINT>"
private_key_path="<YOUR KEY KEY PATH (e.g. ~/.oci/myocikey.pem)>"